@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: var(--color-dark-black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Savate', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
}
#horizontal-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

@theme {
  --color-light-orange: #fe7743;
  --color-light-white: #efeeea;
  --color-dark-navy: #273f4f;
  --color-dark-black: #000000;
}
